body {
  margin: 0;
}
.App {
  min-height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,169,0,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  padding: 0 2rem;
}
header {
  text-align: center;
}